.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: var(--top-line-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
  @media screen and (max-width: 1199px) {
    width: 450px;
    min-height: 609px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: var(--top-line-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-wrap {
  position: relative;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 15px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-icon {
  fill: var(--primary-black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-close:hover &,
  .modal-close:focus & {
    fill: var(--accent-color);
  }
}

.modal-field-comment {
  margin-bottom: 20px;
}

.modal-comment {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  color: var(--primary-black-color);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-check {
  margin-bottom: 30px;
  padding-left: 14px;
}

.input-check {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-check {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  @media screen and (max-width: 1199px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}

.icon-check {
  margin-right: 7px;
  border: 0.2px solid var(--title-text-color);
  border-radius: 2px;
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .input-check:checked + & {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
  .input-check:focus + & {
    border-color: var(--accent-color);
  }
}

.check-link {
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
}
