.section-work {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
  // @media screen and (min-width: 1200px) {
  //   max-width: 1200px;
  // }
}

.work__box {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-line-bg-color);
  padding-top: 27px;
}
