:root {
  /* основной цвет текста */
  --primary-text-color: #757575;

  /* основной цвет заголовка */
  --title-text-color: #212121;

  /* основные белый и черный цвет */
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;

  /* акцент */
  --accent-color: #2196f3;

  /* цвет фона хедера */
  --top-line-bg-color: #ffffff;

  /* вторичный цвет фона */
  --second-bg-color: #f5f4fa;

  /* цвет фона hero и футера */
  --hero-footer-bg-color: #2f303a;

  /* второй цвет фона */
  --bg-hero: #c4c4c4;

  /* цвет текста футера */
  --color-text-footer: rgba(255, 255, 255, 0.6);

  /* фон актиной кнопки */
  --active-bg-color: #188ce8;

  /* border color */
  --border-color: #eeeeee;

  /* border line color */
  --line-color: #ececec;

  /* Background-icon */
  --background-icon: #afb1b8;
}
