.footer {
  background-color: var(--hero-footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  &-word {
    color: var(--primary-white-color);
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    gap: 165px;
    justify-content: center;
    text-align: center;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: flex;
    justify-content: center;
    gap: 93px;
    align-items: baseline;
    text-align: start;
  }
}

.address {
  margin-top: 20px;
  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__mail,
  &__tel {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text-footer);
    margin-top: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 1199px) {
  .address__mail,
  .address__tel {
    margin-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    gap: 93px;
  }
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-top: 60px;
  }
}

.social {
  display: flex;
  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    padding: 12px;
    border-radius: 50%;
    color: var(--primary-white-color);
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    display: block;
    fill: currentColor;
  }
}
@media screen and (max-width: 767px) {
  .footer__social {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__mail {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__mail {
    display: block;
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .online-form {
    display: flex;
    align-items: baseline;
    gap: 12px;
  }
}

.input-online {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-footer-bg-color);
  color: var(--primary-white-color);
  cursor: pointer;
  &::-moz-placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 480px) {
  .input-online {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .input-online {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .input-online {
    width: 358px;
    margin-bottom: 20px;
  }
}

.btn-online {
  min-width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--active-bg-color);
  }
}

@media screen and (max-width: 480px) {
  .btn-online {
    min-width: 200px;
  }
}

@media screen and (max-width: 1199px) {
  .btn-online {
    display: block;
    margin: 0 auto;
  }
}

.icon-online {
  vertical-align: middle;
  margin-left: 6px;
  width: 24px;
  height: 24px;
}
