.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid var(--line-color);
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.navigation__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.navigation-word {
  color: var(--primary-black-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 93px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
  position: relative;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after {
    opacity: 1;
  }
  &.current &::after {
    opacity: 1;
  }
}

.auth-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.auth-nav__mail,
.auth-nav__tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth-nav__envelope,
.auth-nav__smartphone {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
